* {
  box-sizing: border-box;
}

.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}


.dtd{
  width: 50%;
  height: 200px;
  
  
  background: #ccc;
  
  color: #FFF;
  
}

.aa{
  color: white;
  font-size: 30px;
}